.idea
.DS_Store
.nyc_output
.vscode
node_modules
*.map
/src/compiler/compile/internal_exports.ts
/compiler.d.ts
/compiler.*js
/index.*js
/ssr.*js
/internal
/store
/easing
/motion
/transition
/animate
/scratch/
/coverage/
/coverage.lcov
/test/*/samples/_
/yarn-error.log
_actual*.*
_output
/types
*.env
*api.http
/backend/tests
/node_modules/
/frontend/public/build/
TODO
backend/kraken.env.js
/export/**
frontend/yarn-error.log
/smtp.env.mjs
/conf/
/logs/
/temp/